<h2>share new dish</h2>

<form action="/dishes" method="post">
  <label for="">title</label>
  <input name="title" type="text">
  <label for="">image url</label>
  <input name="image_url" type="text">
  <button>share</button>
</form>